/* dark mode */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  background-color: #fff;
  color: #0d0950;
  border-radius: 5px;
  padding: 10px 14px;
  transition-duration: 0.4s;
}

.dark .footer a {
  background-color: #fff;
  color: #0d0950;
}
.dark .footer a:hover,
.dark .footer a:focus {
  background-color: #fbd8ff;
  border-radius: 5rem;
  color: #0d0950;
  transition-duration: 0.4s;
}

.dark h1,
.dark h2,
.dark .blogPost a,
.dark .nav-links a {
  color: #fff;
}

.dark .blogPost a:hover {
  color: #fbd8ff;
  text-decoration: wavy underline;
}
.dark .hamburger .line {
  background-color: #fff;
}
.dark button {
  padding: 0.5rem 1rem;
  color: #0d0950;
  background-color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.dark button:hover {
  background-color: #fbd8ff;
  color: #0d0950;
  transition-duration: 0.4s;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
/* light mode styles */
html {
    background-color: #afffee;
    font-family: sans-serif;
    color:#860594;
  }
  .footer a {
    padding: 0.5rem 1rem;
    color:#e7cef6;
    background-color: #860594;
    border-radius: 0.5rem;
    text-decoration: none;
  }
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
    /* color:#393939; } */
  }
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color:#860594;
  }
  h2 {
    margin: 1rem 0;
    font-size: 2rem;
    color:#860594;
  }
  button {
    padding: 0.5rem 1rem;
    color:#e7cef6;
    background-color: #860594;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  button:hover {
    background-color: #e7cef6;
    color:#860594;
    transition-duration: 0.4s;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  /* blog styles */
  .blogPost a {
    color: #860594;
    text-decoration: none;
    font-weight: bold;
  }
  .blogPost a:hover {
    color: #860594;
    text-decoration: wavy underline;
  }
  
  /* nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #860594;
  }
  
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #e7cef6;
    display: none;
    margin: 0;
  }
  
.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color:#860594;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #860594;
  color: #e7cef6;
  border-radius: 5px;
  padding: 10px 14px;
  transition-duration: 0.4s;
}

.expanded {
  display: unset;
}

.footer a:hover,
.footer a:focus {
  background-color: #e7cef6;
  border-radius: 5rem;
  color: #860594;
  transition-duration: 0.4s;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }

}