---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>kat's portfolio</title>
	</head>
	<body>
<a href="/">home</a>
<a href="/about/">about</a>
<a href="/blog/">blog</a>

		<h1>about k@</h1>
        <p>
        i'm a visual designer and front-end developer based in the PNW.
        </p> 
        <p>i care deeply about creating design solutions that respect both the planet and the user. i'm a big fan of dogs of all kinds... cute dogs, ugly dogs, underdogs, corn dogs. 
        </p>
        <p>i love 'em all. </p>
        <p>hit me up. let's make something cool together</p>
	</body>
</html>
