---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
	<style>
        ul {
            list-style-type: none;
            padding: 0;
        
        }
        a {
            text-decoration: wavy underline;
            color: rgb(255, 0, 238);
        }
    </style>
        <p>this is my "blog" page that's really going to be maybe something else some day? </p>
        <ul>
            {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
		</ul>
		
</BaseLayout>
