---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
	<style>
        ul {
            list-style-type: none;
            padding: 0;
        
        }
        a {
            text-decoration: wavy underline;
            color: rgb(255, 0, 238);
        }
    </style>
        <p>this is my "blog" page that's really going to be where each project will be housed </p>
        <ul>
            {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
		
</BaseLayout>
