---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: rgb(212, 255, 0);
      background-color: #0091ff;
      border-radius: 0.5rem;
      text-decoration: none;
    }
  </style>