---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color:#e7cef6;
      background-color: #860594;
      border-radius: 0.5rem;
      text-decoration: none;
    }
  </style>